.row
  section.col-md-5.col-md-offset-1.my-pages
    .panel.panel-default
      header.panel-heading My pages
      .panel-body
        p Here it is the list of the pages that you are administrator

      .list-group
        a.list-group-item(href='#', ng-class='{active: page1}', ng-click='page1 = !page1') My dog is bad
        a.list-group-item(href='#', ng-class='{active: page2}', ng-click='page2 = !page2') Cats or die
        a.list-group-item(href='#', ng-class='{active: page3}', ng-click='page3 = !page3') Firsttt
        a.list-group-item(href='#', ng-class='{active: page4}', ng-click='page4 = !page4') 9GAG

  section.col-md-5.col-md-offset-1.others-pages
    .panel.panel-default
      header.panel-heading 
        span Others pages
      .panel-body
        p Here it is the list of the pages that you would like to compare
        
        a.btn.btn-primary.navbar-right(ng-click='formAddPage = true', ng-hide='formAddPage') Add page
        form(role='form', ng-show='formAddPage', ng-submit='addPage()')
          .input-group
            span.input-group-addon facebook.com/
            input.form-control(type='text', placeholder='Insert url of page', ng-model='urlPage')
            span.input-group-btn
              input.btn.btn-primary.navbar-right(type='submit', ng-click='formAddPage = false', ng-show='urlPage.length > 0', value='Add')
              a.btn.btn-primary.navbar-right(href='#', ng-click='formAddPage = false', ng-hide='urlPage.length > 0') Cancel

      ul.list-group
        li.list-group-item(ng-repeat='page in othersPages') {{page.name}}