extends layout

block content
  div.container.text-center
    h1 Understand your audience and analyze your content
    br
    a.btn.btn-primary(href=loginUrl)
      i.fa.fa-facebook
      | Facebook Login