doctype
html(lang='pt', ng-app='app')
  head
    title= title + ' teste'
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    block feet
    script(src='/js/all.js', type='text/javascript')