doctype
html(lang='pt', ng-app='appTest')
  head
    title= title + ' teste'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700')
    link(rel='stylesheet', href='/css/style.css')
  body
    header.main-header.row
      .col-xs-6.pull-left
        h1 Better Post 
          span.txt-by by
          a(href='http://www.scup.com/', target='_blank').scup-logo
      .col-xs-6.pull-right.text-right
        .nav-right
          a() Settings
          a() Logout
    block content

    block feet
    script(src='/js/all.js', type='text/javascript')