body {
	font-family: 'Open Sans',sans-serif;
	> .main-header {
		background-color: #3993cb;
		color: #fff;
		padding: 0 20px 10px;
		vertical-align: top;
		h1 {
			font-size: 1.8em;
			padding-right: 0;
		}
		.txt-by {
			font-size: 0.4em;
			padding: 0 5px 0 10px;
		}
		.nav-right a {
			display: inline-block;
			color: #fff;
			text-transform: uppercase;
			margin: 0 10px;
			padding-top: 25px;
		}
	}
}
.scup-logo {
	display: inline-block;
	width: 50px;
	height: 15px;
	margin: 0 0 -6px;
	background-image: url(../img/scup-logo-pb.svg);
	background-size: 50px 15px;
	text-indent: -999px;
}